body {
  padding: 0 30px;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  transition: color 0.3s;
}
a:hover {
  color: #6a6854;
}
.head {
  position: fixed; /* 固定在页面顶端 */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  font-size: 1vw;
  max-width: 96%;
  min-width: 96%;
  z-index: 1000; /* 确保在其他内容之上 */
  padding: 10px 40px; /* 添加内边距 */
}

.HL {
  flex: 1;
  text-align: left;
}

.HC {
  flex: 1;
  text-align: center;
}

.HR {
  flex: 1;
  text-align: right;
}
.content {
  padding: 0 20vh;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 35vh;
  max-width: 70%;
  min-width: 70%;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  font-size: 0.7vw;
  flex-grow: 1;
  align-items: flex-start;
}
.picture {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2vh;
}
.headshot {
  width: 10vw;
}
.hand {
  width: 1.2vw;
}
.right {
  padding-top: 10%;
  margin-left: -1.7vw;
  flex-grow: 1;
}
.fill {
  width: 30vw;
}
h2 {
  font-size: 2vw;
  margin: 0;
}
.text {
  font-size: 1vw;
  width: 30vw;
}
.tag {
  font-size: 0.7vw;
  color: rgb(116, 116, 116);
}
.FW {
  font-weight: 500;
}
.tips {
  font-size: 0.5vw;
  margin: 0;
  text-align: end;
  color: rgb(203, 203, 203);
}
