body {
  padding: 0 30px;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}
a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  transition: color 0.3s;
}
a:hover {
  color: #6a6854;
}
.head {
  position: fixed; /* 固定在页面顶端 */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  font-size: 1vw;
  max-width: 96%;
  min-width: 96%;
  z-index: 1000; /* 确保在其他内容之上 */
  padding: 10px 40px; /* 添加内边距 */
  background-color: #ffffff00;
  /* background-color: rgba(255, 255, 255, 0.8);  */
  backdrop-filter: blur(10px); /* 添加毛玻璃效果 */
  -webkit-backdrop-filter: blur(10px); /* 兼容 WebKit 浏览器 */
  /* box-shadow: 0 0.5px 0px rgba(0, 0, 0, 0.1);  */
}
.HL {
  flex: 1;
  text-align: left;
}

.HC {
  flex: 1;
  text-align: center;
}

.HR {
  flex: 1;
  text-align: right;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

h1 {
  text-align: center;
  font-size: 10vw;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-top: 20%;
  text-transform: uppercase;
}
h2 {
  padding-top: 5%;
}
.small-print {
  text-align: center;
  font-size: 1vw;
  width: 40%;
  margin-bottom: 40vh;
}

.Page1-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: white; */
  transition: opacity 0.5s;
}
.works {
  transform-origin: center;
}
.Page1-bottom.hidden {
  opacity: 0;
  visibility: hidden;
}
.works-pig {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 5px;
  /* gap: clamp(8px, 2vw, 24px); */
  height: 100%;
  padding: 0 30px;
  /* flex-wrap: wrap; */
}
.works-hidden {
  display: none;
  /* margin-top: 5%; */
}
@media (max-width: 700px) {
  .works-pig {
    display: none;
  }
  p {
    margin-bottom: 40vh;
  }
  .head {
    font-size: 2vw;
  }
  .works-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: auto; */
  }
  .works-hidden img {
    width: 90%;
    height: auto;
  }
}
.W1 {
  /* padding: 5px 10px; */
  height: auto;
  width: 10vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}

.W2 {
  height: auto;
  width: 8vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}

.W3 {
  height: auto;
  width: 10vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}

.W4 {
  height: auto;
  width: 12vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}

.W5 {
  height: auto;
  width: 5vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}

.W6 {
  height: auto;
  width: 15vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}
.W7 {
  height: auto;
  width: 16vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}
.W8 {
  height: auto;
  width: 12vw;
  /* background-color: rgb(228, 228, 228); */
  transition: all 0.3s ease; /* 添加平滑过渡 */
  /* border: solid rgb(187, 187, 187) 0.5px; */
}

/* 作品图片悬停效果 */
.W1:hover {
  height: auto;
  width: 15vw;
}
.W2:hover {
  height: auto;
  width: 11vw;
}
.W3:hover {
  height: auto;
  width: 12vw;
}
.W4:hover {
  height: auto;
  width: 16vw;
}
.W5:hover {
  height: auto;
  width: 8vw;
}
.W6:hover {
  height: auto;
  width: 18vw;
}
.W7:hover {
  height: auto;
  width: 18vw;
  /* background-color: var(--hover-bg-color); */
}
.W8:hover {
  height: auto;
  width: 16vw;
  /* background-color: var(--hover-bg-color); */
}

.tips {
  font-size: 1.8vh;
  padding: 4px 30px;
}

/* .progress-container {
  width: 10px;
  height: 100%;
  background: #f3f3f3;
  position: fixed;
  top: 0;
  right: 0;
} */

/* .progress-bar {
  width: 100%;
  height: 0;
  background: #4caf50;
} */

.Stretch-height {
  width: 100%;
  height: 1500px;
  /* background-color: rgb(240, 255, 241); */
  position: relative;
  top: 30vh; /* 设置为视窗高度，使其在第一屏的下面 */
  transform-origin: center;
}

.side-nav {
  width: 10vw;
  height: auto;
  position: fixed;
  top: 50%;
  right: 2%; /* 设置为视窗宽度的 2% */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 右对齐 */
  gap: 17px; /* 小横条间隔 20px */
  transition: right 0.3s ease-out, opacity 0.8s ease-out; /* 添加动画曲线 */
}

.side-nav.visible {
  right: 2%; /* 设置为视窗宽度的 2% */
  opacity: 1;
  z-index: 50;
}

.side-nav.hidden {
  right: -100px; /* 隐藏时移出视窗 */
  opacity: 0;
  visibility: hidden;
  width: 10vw;
}
.nav-item {
  height: 2px; /* 高度 */
  background-color: #c8c3c3; /* 初始颜色 */
  position: relative;
  cursor: pointer;
  transition: width 0.3s, margin 0.3s, background-color 0.3s;
  transform-origin: right; /* 设置变换原点为右边 */
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  font-size: 1vw;
  font-weight: 600;
}
.nav-item:nth-child(1) {
  width: 34px; /* 初始宽度 */
  animation-delay: 0.1s;
}

.nav-item:nth-child(2) {
  width: 30px; /* 初始宽度 */
  animation-delay: 0.2s;
}

.nav-item:nth-child(3) {
  width: 35px; /* 初始宽度 */
  animation-delay: 0.3s;
}

.nav-item:nth-child(4) {
  width: 32px; /* 初始宽度 */
  animation-delay: 0.4s;
}

.nav-item:nth-child(5) {
  width: 30px; /* 初始宽度 */
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.nav-item:hover {
  width: 60px; /* 悬停时宽度 */
  margin-top: 20px; /* 悬停时上外边距 */
  margin-bottom: 20px; /* 悬停时下外边距 */ /* 悬停时颜色变成深灰色 */
}

.nav-item::after {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  bottom: 100%; /* 初始位置在小横条的上边缘 */
  transform: translateX(-50%);
  background-color: transparent; /* 移除背景颜色 */
  padding: 5px 10px;
  border: none; /* 移除边框 */
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
}

.nav-item:hover::after {
  opacity: 1;
  bottom: 120%; /* 悬停时从上往上出现 */
}
/* 吸尘器 */
.vacuum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}
.vacuum img {
  width: 100%;
  height: auto;
  transform-origin: center;
}
/* 堆肥设备 */
.Product-2-Introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}
.compost {
  width: 90%;
  height: auto;
  margin-bottom: 10%;
  transform-origin: center;
}
.interpretation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 1.4vw;
  gap: 7%;
  transform-origin: center;
}
.compost-video {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 7%;
}
.question {
  width: 100%;
  height: 100%;
  /* flex: 1; */
}
.compost-video iframe {
  width: 50%;
  height: auto;
  /* flex: 1; */
}
.video2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video2 iframe {
  width: 70vw;
  height: 80vh;
  margin-bottom: 10%;
}

.sketch {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 15%;
  /* gap: 10px; */
}

.grid-item {
  /* background-color: #f0f0f0; */
  text-align: center;
  /* margin: -3vh -1vw; */
  /* border: 1px solid #ccc; */
  height: 30vh;
  width: 5vw;
}
.item-1,
.item-6 {
  margin-right: 5vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1%;
  font-weight: 100;
  margin-top: -10%;
}
.item-1 span {
  font-size: 1vw;
}
.grid-item img {
  width: 15vw;
  height: auto;
}
.item-2 {
  margin-bottom: 15%;
  margin-top: 5%;
  z-index: 100;
}
.item-2 img {
  width: 16vw;
}
.item-3 {
  margin-right: 5vw;
  margin-left: -5vw;
  margin-bottom: 5vw;
  z-index: 2;
}
.item-3 img {
  width: 28vw;
  height: auto;
  z-index: 51;
}
.item-4 {
  margin-left: 6vw;
  margin-top: 1vw;
}
.item-4 img {
  width: 18vw;
  height: auto;
}
.item-5 img {
  width: 13vw;
  height: auto;
}
.item-7 {
  z-index: 1;
  margin-top: -0.5vw;
}
.item-7 img {
  width: 17vw;
  height: auto;
}
.item-8 {
  margin-right: 3vw;
  margin-left: -5vw;
  margin-top: -1vw;
  z-index: 1;
}
.item-8 img {
  width: 35vw;
  height: auto;
  margin-right: 5vw;
}
.item-9 {
  /* margin-right: 5vw; */
  /* margin-left: -5vw; */
  margin-top: -4vw;
  z-index: 10;
}
.item-9 img {
  width: 13vw;
  height: auto;
  margin-right: 5vw;
}
.item-10 {
  /* margin-right: 5vw; */
  margin-left: -5vw;
  margin-top: -1vw;
  z-index: 50;
}
.item-10 img {
  width: 14vw;
  height: auto;
  margin-right: 5vw;
}
.grid-item:hover {
  z-index: 1000;
  /* position: relative;  */
}
.illustration {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 15%;
  /* margin-right: 50%; */
  gap: 1px;
}
.grid2-item {
  margin: 0 2px;
  transform: translateX(-20%);
}
.grid2-item img {
  width: 100%;
  height: auto;
}
.render {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 15%;
  /* margin-right: 50%; */
  gap: 1px;
  align-items: end;
}
.grid3-item {
  transform: translateX(-21%);
}
.grid3-item1 {
  /* color: #6a6854; */
  margin-top: -10%;
  width: 100%;
}
.grid3-item img {
  width: 23vw;
  height: auto;
}
.grid3-item9 {
  margin-left: 6%;
  margin-top: -50%;
}
.grid3-item9 img {
  width: 44.5vw;
  height: auto;
}
.render2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: auto;
  margin-top: -10%;
  /* margin-bottom: 15%; */
  align-items: end;
  gap: 10px;
}
.grid4-item {
  transform: translateX(5%);
}
.grid4-item img {
  width: 18vw;
  height: auto;
}
.grid4-item8,
.grid4-item8 img {
  margin-left: -18%;
}
.grid4-item4 img {
  margin-bottom: -80%;
  margin-left: -30%;
}
.grid4-item5 img {
  margin-bottom: -88%;
  margin-left: -30%;
}

.grid4-item4 img,
.grid4-item5 img,
.grid4-item9 img,
.grid4-item10 img {
  margin-left: -40%;
}
.Cattle {
  width: 67.5vw;
  height: auto;
  display: block;
  margin-left: 20.6%;
  margin-top: 1%;
}
.ps-render {
  margin-right: 5vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1%;
  font-weight: 100;
  margin-top: 10%;
}
.ps-render span {
  font-size: 1vw;
}
.ps img {
  width: 70vw;
  height: auto;
  display: block;
  margin-left: 19%;
  margin-top: -7%;
}
