body {
  padding: 0 30px;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  transition: color 0.3s;
}
a:hover {
  color: #6a6854;
}
.head {
  position: fixed; /* 固定在页面顶端 */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  font-size: 1.1vw;
  max-width: 96%;
  min-width: 96%;
  z-index: 1000; /* 确保在其他内容之上 */
  padding: 10px 40px; /* 添加内边距 */
  background-color: #ffffff00;
  /* background-color: rgba(255, 255, 255, 0.8);  */
  backdrop-filter: blur(10px); /* 添加毛玻璃效果 */
  -webkit-backdrop-filter: blur(10px); /* 兼容 WebKit 浏览器 */
  /* box-shadow: 0 0.5px 0px rgba(0, 0, 0, 0.1);  */
}
.HL {
  flex: 1;
  text-align: left;
}

.HC {
  flex: 1;
  text-align: center;
}

.HR {
  flex: 1;
  text-align: right;
}

img {
  width: 100%;
  margin: 0 auto; /* 添加居中对齐 */
  display: block; /* 将图片设置为块级元素以便居中 */
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* 确保内容不被固定的 head 遮挡 */
  max-width: 50%;
  margin-top: 20px;
}
.top {
  text-align: center;
  margin-bottom: 20px;
}
.top h1,
.top p {
  text-align: left;
}

/* .avatar {
  width: 5%;
} */
.article {
  text-align: left;
  width: 100%;
  height: auto;
}
hr {
  border: #4c4e4d 0.01px solid;
}
h2 {
  text-align: left;
  color: rgb(0, 0, 0);
}
p {
  font-size: 1.2vw;
  color: #4c4e4d;
  line-height: 1.7;
  text-align: justify;
}
.article img {
  width: 100%;
  height: auto;
}
.img-activity {
  /* display: none; */
  width: auto;
  height: 4vh;
}
